<html>
    <head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.8.3.min.js')}}"></script>
    </head>
    <body>
      <h2>Sign in</h2>
      <form action="" method="post">
        {% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}
        <p>
          OpenID:
          <input type="text" name="openid" id="i_openid" size="40">
          <!--<a href="#" id="a_login" onclick="login();" /> GO </a>-->
          <input type="submit" value="Sign in">
          <input type="hidden" name="next" value="{{ next }}">
      </form>
      <script>
        var login = function(e) {
            var postData = new Object();
            postData["openid"] = $('#i_openid').val();
            console.log(postData);
            $.ajax({type: 'POST',
                url: '/login',
                dataType: 'json',
                xhrFields: {withCredentials: true},
                data: postData})
            .done(function (data) {
                alert("logged");
            })
            .fail(function (xhr) {
                alert("failed");
            })
            return false;
        }
      </script>
  </body>
</html>