<html>
    <head>
        <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}" />
        <link rel="stylesheet" type="text/css" href="{{ static_url("style.css") }}" />
        <script type="text/javascript">
            var notepanel = {
                user: null,
                views: {},
                urls: {
                    user: {
                        login: '/auth/login',
                        identify: '/auth/identify',
                        logout: '/auth/logout',
                        register: '/auth/register'
                    },
                    board: {
                        create: '/board/create',
                        poll: '/board/poll',
                        edit: '/board/edit'
                    }
                }
            };
        </script>
        <script type="text/javascript" src="{{ static_url("jquery-1.8.3.min.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("notepanel.js") }}"></script>
    </head>
    <body>
        <canvas id="canvas_board">
        </canvas>
        <div id="div_menu">
            <a href="#" id="a_logout">Log out</a>
            <a href="#" id="a_add_note">Add a new note</a>
            <p>Board : <span id="s_board_name"><span></p>
            <input type="text" name="boardname" id="i_create_board" />
            <a href="#" id="a_create_board">Create new board</a>
            <div id="div_create_board_result"></div>
        </div>
        <div id="div_login">
            <input type="text" name="username" />
            <input type="password" name="password" />
            <a href="#" id="a_login">Log in</a>
            New? <a href="#" id="a_to_register">register</a>
            <div id="div_login_result"></div>
        </div>
        <div id="div_register">
            <input type="text" name="username" />
            <input type="password" name="password" />
            <input type="text" name="email" />
            <a href="#" id="a_register">Register</a>
            <div id="div_register_result"></div>
        </div>
    </body>
</html>