<html>
    <head>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/GoodDog/stylesheet.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icons/css/font-awesome.min.css')}}" />
        <script type="text/javascript" src="{{url_for('static', filename='jquery-1.8.3.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery.mousewheel.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery.serialize-object.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='CanvasText-0.4.1.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='hogan.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='transform.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.utils.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.notes.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.template.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.template.templates.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.views.panel.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.views.login.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.views.register.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.views.error.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.views.menu.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.views.wait.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='notepanel.views.edit.js')}}"></script>
        <script type="text/javascript">
            notepanel.template.templates.templatesFile = "{{url_for('static', filename='templates.html')}}";
            notepanel.servicesUrl = '{{services_url}}';
            notepanel.reset();
        </script>
    </head>
    <body>
        <div id="div_panel">
            <canvas id="canvas_board"></canvas>
        </div>
        <div id="div_menu">
            <a href="#" id="a_logout">Log out</a>
            <a href="#" id="a_add_note">Add a new note</a>
            
            <div>Board :</div>
            <select id="sel_choose_board"></select>
            <a id="a_refresh_boards" href="#">refresh list</a>
            
            <input type="text" id="i_create_board" />
            <a href="#" id="a_create_board">Create new board</a>

        </div>
        <div id="div_login">
            <input type="text" name="username" />
            <input type="password" name="password" />
            <a href="#" id="a_login">Log in</a>
            New? <a href="#" id="a_to_register">register</a>
            <div id="div_login_result"></div>
        </div>
        <div id="div_register">
            <input type="text" name="username" />
            <input type="password" name="password" />
            <input type="text" name="email" />
            <a href="#" id="a_register">Register</a>
            <div id="div_register_result"></div>
        </div>
        <div id="div_wait">
            <div id="div_wait_centered_content">
                <img src="{{url_for('static', filename='wait.gif')}}" />
            </div>
        </div>
        <div id="div_edit" style="display:none;">
            <div id="ph_color_picker"></div>
            <textarea rows="5" cols="25" id="texta_note"></textarea>
            <a href="#" id="a_close_edit">Close</a>
        </div>
        <div id="div_fatal">
            Error
        </div>
    </body>
</html>