{% import 'macros.html' as macros %}
<div id="div_login" class="box">
    <div><span>&nbsp;</span></div>
    <div class="innerbox">
        <div>
            <span class="title">Log In</span>
        </div>
        <div class="clear"></div>
        <div>
            <p><strong>Use one of your existing account by clicking on a link:</strong></p>
            <div id="ph_provider_list"></div>
        </div>
        <div>
            <p><strong>Or you can log in with specific credentials:</strong></p>
            {{ macros.inline_input('Your login : ', 'username') }}
            {{ macros.inline_input('Your password : ', 'password', type='password') }}
            <a href="#" id="a_login" class="btn">Log in</a>
            <br/><br/>
            <strong>New?</strong> <a href="#" id="a_to_register">register</a>
        </div>
        <div id="div_login_result"></div>
    </div>
</div>
