<div class="navbar">
    <div class="navbar-inner">
        <ul id="ul_actions_menu" class="nav">
            <li><a href="#" id="a_menu_logout" title="See you soon.">Log out</a></li>
            <li><a href="#" id="a_menu_new_board"title="" >New board</a></li>
            <li><a href="#" id="a_menu_choose_board"title="Choose a new board" >Choose board</a></li>
            <li><a href="#" id="a_menu_import_board"title="Import a board from file" >Import board</a></li>
        </ul>
        <ul id="ul_pages_menu" class="nav">
            <li><a href="#" id="a_menu_help" title="Help">Help</a></li>
            <li><a href="#" id="a_menu_wall_of_fame" title="Do you like our stuff ? Say it here.">Wall of fame</a></li>
            <li><a href="#" id="a_menu_feature_request"title="Something's wrong ? something's missing ? Please let us know.">Feature request</a></li>
            <li><a href="#" id="a_menu_about_us" title="More information about the authors.">About us</a></li>
        <ul>
    </div>
</div>