{% import 'macros.html' as macros %}
{% extends "partials/box_base.html" %}
{% block id %}new_board{% endblock %}
{% block title %}Create a new board{% endblock %}
{% block width %}large{% endblock %}
{% block content %}
{{ macros.inline_input('Board name:  ', 'board_name') }}
<label class="radio">
    <input id="i_board_privacy_private" type="radio" name="i_board_privacy" value="1">
    Private (only selected logged user can access it)</label>
<label class="radio">
    <input id="i_board_privacy_public" type="radio" name="i_board_privacy" value="2">
   Public (all people can view/edit it)</label>
<label id="l_public_add_note" class="checkbox"><input type="checkbox" id="i_public_add_note" value="1" />Logged users are allowed to add notes on your public board</label>
<div class="actions">
    <a href="#" id="a_create_board" class="btn">Create board</a>
</div>
{% endblock %}